@model IEnumerable<PetVetMk.Models.Milenik>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MilenikIme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MilenikSopstvenik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MilenikDataRaganje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MilenikVid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MilenikRasa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MilenikBoja)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MilenikIme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MilenikSopstvenik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MilenikDataRaganje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MilenikVid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MilenikRasa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MilenikBoja)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
