@model PetVetMk.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Промени лозинка";
}

<h3 class="createnaslov">@ViewBag.Title</h3>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Форма за промена на лозинка</h4>
    <hr />
    @*@Html.ValidationSummary("", new { @class = "text-danger" })*@

    <div class="promenalozinka">
        <div style="padding-top: 20px;">
            <div class="form-group">
                <label for="OldPassword" style="margin-bottom: 0px;" class="labeli">Моментална лозинка</label>
                @*@Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })*@
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label for="NewPassword" style="margin-bottom: 0px;" class="labeli">Нова лозинка</label>
                @*@Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })*@
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label for="ConfirmPassword" style="margin-bottom: 0px;" class="labeli">Потврди ја новата лозинка</label>
                @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Промени ја лозинката" class="btn btn-secondary" style="width: 607px; margin-top: 20px" />
                </div>
            </div>
        </div>

        <div>
            <img src="~/Content/LogoCarouselTransparent.png" style="width:631px; height:260px; margin-left: -70px; margin-top: 20px;" />
        </div>
    </div>
    
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style>
    body {
        background-color: #F0F0F0;
    }

    .createnaslov {
        padding-top: 20px;
    }

    .labeli {
        margin-bottom: 0px;
    }

    .form-group {
        width: 730px;
    }

    .promenalozinka {
        display: flex;
    }
</style>